.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.formcontrol {
	display: block;
	width: 100%;
	height: calc(1.5em + 0.75rem + 2px);
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	&::-ms-expand {
		background-color: transparent;
		border: 0;
	}
	&:-moz-focusring {
		color: transparent;
		text-shadow: 0 0 0 #495057;
	}
	&:focus {
		color: #495057;
		background-color: #fff;
		border-color: #c1c6f0;
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(90, 103, 216, 0.25);
	}
	&::-webkit-input-placeholder {
		color: #6c757d;
		opacity: 1;
	}
	&::-moz-placeholder {
		color: #6c757d;
		opacity: 1;
	}
	&:-ms-input-placeholder {
		color: #6c757d;
		opacity: 1;
	}
	&::-ms-input-placeholder {
		color: #6c757d;
		opacity: 1;
	}
	&:disabled {
		background-color: #e9ecef;
		opacity: 1;
	}
}
.wasvalidated {
	.customcontrolinput {
		&:invalid {
			&:focus {
				&:not(:checked) {
					~ {
						.customcontrollabel {
							&::before {
								border-color: #dc3545;
							}
						}
					}
				}
			}
		}
	}
}
.customcontrolinput.isinvalid {
	&:focus {
		&:not(:checked) {
			~ {
				.customcontrollabel {
					&::before {
						border-color: #dc3545;
					}
				}
			}
		}
	}
}
.forminline {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}
.btn {
	display: inline-block;
	font-weight: 400;
	color: #212529;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: transparent;
	border: 1px solid transparent;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0.25rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	cursor: pointer !important;
	&:hover {
		color: #212529;
		text-decoration: none;
	}
	&:focus {
		outline: 0;
		box-shadow: 0 0 0 0.2rem rgba(90, 103, 216, 0.25);
	}
	&:disabled {
		opacity: 0.65;
	}
}
.btnprimary {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #3141ce;
				border-color: #2e3ec4;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(115, 126, 222, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #3141ce;
			border-color: #2e3ec4;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(115, 126, 222, 0.5);
			}
		}
	}
}
.btnsecondary {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #545b62;
				border-color: #4e555b;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #545b62;
			border-color: #4e555b;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(130, 138, 145, 0.5);
			}
		}
	}
}
.btnsuccess {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #1e7e34;
				border-color: #1c7430;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #1e7e34;
			border-color: #1c7430;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
			}
		}
	}
}
.btninfo {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #117a8b;
				border-color: #10707f;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #117a8b;
			border-color: #10707f;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(58, 176, 195, 0.5);
			}
		}
	}
}
.btnwarning {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #212529;
				background-color: #d39e00;
				border-color: #c69500;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #212529;
			background-color: #d39e00;
			border-color: #c69500;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(222, 170, 12, 0.5);
			}
		}
	}
}
.btndanger {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #bd2130;
				border-color: #b21f2d;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #bd2130;
			border-color: #b21f2d;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(225, 83, 97, 0.5);
			}
		}
	}
}
.btnlight {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #212529;
				background-color: #dae0e5;
				border-color: #d3d9df;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #212529;
			background-color: #dae0e5;
			border-color: #d3d9df;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
			}
		}
	}
}
.btndark {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #1d2124;
				border-color: #171a1d;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #1d2124;
			border-color: #171a1d;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(82, 88, 93, 0.5);
			}
		}
	}
}
.btnoutlineprimary {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #5a67d8;
				border-color: #5a67d8;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(90, 103, 216, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #5a67d8;
			border-color: #5a67d8;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(90, 103, 216, 0.5);
			}
		}
	}
}
.btnoutlinesecondary {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #6c757d;
				border-color: #6c757d;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
			}
		}
	}
}
.btnoutlinesuccess {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #28a745;
				border-color: #28a745;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #28a745;
			border-color: #28a745;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
			}
		}
	}
}
.btnoutlineinfo {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #17a2b8;
				border-color: #17a2b8;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #17a2b8;
			border-color: #17a2b8;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5);
			}
		}
	}
}
.btnoutlinewarning {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #212529;
				background-color: #ffc107;
				border-color: #ffc107;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #212529;
			background-color: #ffc107;
			border-color: #ffc107;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
			}
		}
	}
}
.btnoutlinedanger {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #dc3545;
				border-color: #dc3545;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #dc3545;
			border-color: #dc3545;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
			}
		}
	}
}
.btnoutlinelight {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #212529;
				background-color: #f8f9fa;
				border-color: #f8f9fa;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #212529;
			background-color: #f8f9fa;
			border-color: #f8f9fa;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5);
			}
		}
	}
}
.btnoutlinedark {
	&:not(:disabled) {
		&:not(.disabled) {
			&:active {
				color: #fff;
				background-color: #343a40;
				border-color: #343a40;
				&:focus {
					box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
				}
			}
		}
		&:not(.disabled).active {
			color: #fff;
			background-color: #343a40;
			border-color: #343a40;
			&:focus {
				box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
			}
		}
	}
}
.customcontrolinput {
	&:focus {
		&:not(:checked) {
			~ {
				.custom-control-label {
					&::before {
						border-color: #c1c6f0;
					}
				}
			}
		}
	}
	&:not(:disabled) {
		&:active {
			~ {
				.custom-control-label {
					&::before {
						color: #fff;
						background-color: #eaecfa;
						border-color: #eaecfa;
					}
				}
			}
		}
	}
}
.close {
	&:not(:disabled) {
		&:not(.disabled) {
			&:hover {
				opacity: .75;
			}
			&:focus {
				opacity: .75;
			}
		}
	}
}
.mt4 {
	margin-top: 1.5rem !important;
}
.mt5 {
	margin-top: 3rem !important;
}
.py5 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
}
.textcenter {
	text-align: center !important;
}
.btnsmall {
	background: var(--btn-bg);
	border-radius: var(--border-radius-full);
	color: var(--font-color);
	font-weight: 500;
	padding: 16px 20px;
	&:hover {
		background: var(--primary-color);
		color: #fff;
	}
}
.w3lerrorgrid {
	h1 {
		font-weight: 600;
		font-size: 130px;
		color: var(--heading-color);
	}
	h2 {
		font-size: 30px;
		margin-bottom: 20px;
		color: var(--heading-color);
		font-weight: 600;
		text-transform: capitalize;
	}
	.formcontrol {
		width: 100%;
		color: #666;
		background: var(--bg-color);
		padding: 12px 110px 12px 20px;
		font-size: 18px;
		line-height: 28px;
		height: 55px;
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius);
		display: block;
		box-shadow: rgba(1, 1, 1, 0.05) 1px 1px 5px 0px;
		&:focus {
			box-shadow: none;
			background: var(--bg-color);
			border: 1px solid var(--primary-color);
		}
	}
	.centeralign {
		max-width: 600px;
		margin: auto;
        h1, h2{
            font-family: 'Benne', serif;
        }
        p{
            font-family: 'Baloo Tammudu 2', cursive;
            font-size: 18px;
            line-height: 28px;
        }
	}
	button.btn.search {
		color: #fff;
		background: var(--primary-color);
		font-size: 18px;
		width: 100px;
		font-weight: 600;
		letter-spacing: 0px;
		border: none;
		position: absolute;
		top: 0;
		right: 0;
		height: 55px;
		display: inline-block;
		border-top-left-radius: 0px;
		border-bottom-left-radius: 0px;
		&:hover {
			opacity: .8;
		}
	}
	.form-inline.searchform {
		position: relative;
		max-width: 400px;
		margin: auto;
	}
}
@media (min-width: 576px) {
	.container {
		max-width: 540px;
		max-width: 540px;
	}
	.forminline {
		.form-control {
			display: inline-block;
			width: auto;
			vertical-align: middle;
		}
	}
}
@media (min-width: 768px) {
	.container {
		max-width: 720px;
		max-width: 720px;
	}
	.mtmd5 {
		margin-top: 3rem !important;
	}
	.pymd4 {
		padding-top: 1.5rem !important;
		padding-bottom: 1.5rem !important;
	}
}
@media (min-width: 992px) {
	.container {
		max-width: 960px;
		max-width: 960px;
		max-width: 960px;
		margin-right: auto;
		margin-left: auto;
	}
	.pylg5 {
		padding-top: 3rem !important;
		padding-bottom: 3rem !important;
	}
}
@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
		max-width: 1140px;
		max-width: 1140px;
		margin-right: auto;
		margin-left: auto;
	}
}
@media (prefers-reduced-motion: reduce) {
	.formcontrol {
		transition: none;
	}
	.btn {
		transition: none;
	}
}
@media (min-width: 1280px) {
	.container {
		max-width: 1200px;
	}
}
@media all and (max-width: 992px) {
	.w3lerrorgrid {
		h1 {
			font-size: 100px;
		}
	}
}
@media all and (max-width: 568px) {
	.w3lerrorgrid {
		h1 {
			font-size: 80px;
		}
	}
}
@media all and (max-width: 415px) {
	.w3lerrorgrid {
		h2 {
			font-size: 24px;
		}
	}
}
@media all and (max-width: 384px) {
	.w3lerrorgrid {
		.formcontrol {
			padding: 16px 20px 12px 20px;
		}
		button.btn.search {
			position: relative;
			width: 100%;
			margin-top: 10px;
			border-radius: var(--border-radius);
		}
	}
}
